<footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>Your company description goes here.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Information</h5>
          <p>Email: contact@example.com</p>
          <p>Phone: +123 456 7890</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">
            &copy; 2023 Your Company. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
  