<div class="container">
  <h1 class="mt-3">Product List</h1>
  <div class="d-flex justify-content-end mt-3">
    <a [routerLink]="['/admin/products/add']" class="btn btn-primary">
      Add Product
    </a>
  </div>
  <div class="product-list mt-3">
    <div class="row">
      <div class="col-md-2">
        <form class="form-inline">
          <div class="form-group mr-2">
            <label for="sortSelect">Sort by:</label>
            <!-- (change)="sortProducts($event.target.value)" -->
            <select class="form-control" id="sortSelect">
              <option value="name">Name</option>
              <option value="price">Price</option>
            </select>
          </div>
          <div class="form-group">
            <label for="filterInput">Filter by Name:</label>
            <input
              type="text"
              class="form-control"
              id="filterInput"
              placeholder="Enter name..."
            />
            <!-- (input)="filterProducts($event.target.value)" -->
          </div>
        </form>
      </div>

      <div class="list-view col-md-10">
        <base-loading *ngIf="loading" size="lg"></base-loading>
        <div *ngIf="!loading" class="row">
          <div
            *ngFor="let product of products"
            class="col-md-auto product-item me-3"
            (mouseenter)="setHoveredProduct(product.id)"
            (mouseleave)="resetHoveredProduct()"
            (click)="goToProductDetail(product.id)"
          >
            <div class="card mb-5">
              <div
                id="carouselExample"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <div
                    *ngFor="let image of product.productImages; let i = index"
                    class="carousel-item"
                    [ngClass]="{ active: i === 0 }"
                  >
                    <base-image
                      [imageUrl]="image.url"
                      altText="ProductImage"
                    ></base-image>
                  </div>
                </div>
              </div>
              <a
                *ngIf="isHovered(product)"
                [routerLink]="['/admin/products/edit', product.id]"
                class="edit-button position-absolute top-0 end-0 mt-2 me-2"
              >
                <i class="fa-solid fa-pencil"></i>
              </a>
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">Price: ${{ product.price }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
