<base-loading *ngIf="isLoading" size="lg"></base-loading>
<div *ngIf="!isLoading" class="container mt-4">
  <h1 class="mb-4">{{ isEdit ? "Edit Product" : "Add Product" }}</h1>
  <div class="row">
    <div class="col-md-6">
      <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <base-input-field
          *ngIf="isEdit"
          label="Product ID"
          inputId="productId"
          name="id"
          [value]="product.id"
          [isDisabled]="true"
        ></base-input-field>
        <base-input-field
          label="Product Name"
          inputId="productName"
          name="name"
          [(ngModel)]="product.name"
          [required]="true"
        ></base-input-field>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea
            id="productDescription"
            class="form-control"
            name="description"
            [(ngModel)]="product.description"
          ></textarea>
        </div>
        <base-input-field
          label="Price"
          inputId="productPrice"
          name="price"
          [(ngModel)]="product.price"
          [type]="'number'"
        ></base-input-field>
        <base-input-field
          label="Stock"
          inputId="productStock"
          name="stock"
          [(ngModel)]="product.stock"
          [type]="'number'"
        ></base-input-field>
        <base-input-field
          label="Brand"
          inputId="productBrand"
          name="brand"
          [(ngModel)]="product.brand"
          [type]="'text'"
        ></base-input-field>
        <base-input-field
          label="Category"
          inputId="productCategory"
          name="category"
          [(ngModel)]="product.category"
          [type]="'text'"
        ></base-input-field>
        <div class="mb-3">
          <base-button type="submit" [loading]="isSaving"></base-button>
        </div>
      </form>
    </div>
    <div class="col-md-6 image-container">
      <div class="mb-3">
        <label class="form-label">Product Images</label>
        <input
          type="file"
          id="productImages"
          class="form-control"
          name="productImages"
          multiple
          (change)="onImageUpload($event)"
        />
      </div>
      <div class="mb-3 preview-container">
        <div *ngIf="!isUpdatingPicture">
          <base-image
            *ngFor="let image of product.productImages"
            [imageUrl]="image.url"
            altText="ProductImage"
            imageClass="img-preview"
          ></base-image>
        </div>
        <div *ngIf="isUpdatingPicture">
          <img
            *ngFor="let image of imagePreviews"
            [src]="image"
            class="img-preview"
          />
        </div>
      </div>
    </div>
  </div>
</div>
