<header class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <base-image
        imageUrl="/logo/png/md-gear-high-resolution-logo-transparent.png"
        altText="Logo"
        imageClass="img-icon"
      ></base-image>
    </a>

    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>

    <p class="contact-info my-2 my-lg-0">Contact us: contact@example.com</p>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"> <i class="fa fa-heart"></i> Wishlist </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-shopping-cart"></i> Cart
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <i class="fa fa-user"></i> Account</a>
      </li>
    </ul>
  </div>
</header>
