@import "./mixins/colors.css";
@import "ngx-toastr/toastr";

.container {
  margin-bottom: 20px;
}

.required {
  color: var(--red-5);
}

.form-label {
  font-weight: bold;
}

.img-preview {
  width: 250px;
  margin: 20px;
}
